{% extends 'base.html' %}

{% load widget_tweaks %}

{% block content %}

{% load static %}

    <header>
        <link rel="stylesheet"  href="{%  static  'css/translate.css'  %}">
        <h1 class="text-center title"><a class="text-decoration-none" style="color: rgb(6, 6, 158);" href="{% url 'home'%}">CODE</a><a class="text-decoration-none two-font" style="color: rgb(215, 140, 20);" href="{% url 'home'%}">2</a><a class="text-decoration-none" style="color: rgb(6, 6, 158);" href="{% url 'home'%}">CODE</a></h1>
        <!-- <h1 class="text-center title"><a class="text-decoration-none"  href="{% url 'home'%}"><span class="code">CODE</span><span class="two">2</span><span class="code">CODE</span></a></h1> -->

    </header>

    <form id="inputForm" action="" method="post">

        {% csrf_token %}
       <div class="container main-box">
           
           <div class="container-sm box1">
                <div class="container form-row">
                    <div class="form-group col-md-6">
                        <label for="SourceLanguageSelection" class="text-font">Source Language</label>
                        {% render_field form.source_language id="SourceLanguageSelection" class="form-control text-font" %}
                    </div>
            
                    <div class="form-group col-md-6">
                        <label for="TargetLanguageSelection" class="text-font">Target Language</label>
                        {% render_field form.target_language id="TargetLanguageSelection" class="form-control text-font" %}
                    </div>
                </div>
               
           
                <div class="container form-row">
                    <div class="form-group col-md-6">
                        <label for="SourceCodeInput" class="text-font">Source Code</label>
                        {% render_field form.source_code type="text" class="form-control placeholder-font" id="SourceCode" placeholder="Type your source code here" %}
                    </div>
                    <div class="form-group col-md-6">
                        <label for="TranslatedCode" class="text-font">Translated Code</label>
                        {% render_field form.translated_code type="text" class="form-control placeholder-font" id="TranslatedCode" placeholder="Translation" %}
                    </div>
                </div>
               
                <div class="container box2">
                   <div class="text-center">
                       <input type="submit" class="btn btn-primary text-font button" id="translateButton" value="Translate">
                       <button type="button" class="btn btn-warning text-font button" onclick="this.form.reset();">Clear</button>
                   </div>
                </div>

                <div class="container spinner text-center" >
                    <div class="spinner-border spinner" id="Spinner" style="width: 3.5rem; height: 3.5rem;" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
        </div> 

    </form>
{% endblock %}


{% block javascript %}

<script>
    console.log("inside AJAX call");

    // Send form inputs to "/translate" url as POST request
    const url = "{% url 'translate' %}"

    const inputForm = document.getElementById("inputForm");
    var token = '{{csrf_token}}';
    const spinner = document.getElementById("Spinner")
    const translateButton = document.getElementById("translateButton")

    // Function to execute on submitting form
    inputForm.addEventListener("submit", async function(e) {

        // Override default submit action
        e.preventDefault()

        console.log("Translate button is clicked")
        
        // Dictionary to store form inputs
        let inputFormResponse = {}

        inputFormResponse["sourceLanguage"] = document.getElementById("SourceLanguageSelection").value 
        inputFormResponse["targetLanguage"] = document.getElementById("TargetLanguageSelection").value
        inputFormResponse["sourceCode"] = document.getElementById("SourceCode").value;

        console.log(inputFormResponse)

        // Show loading gif 
        spinner.style.color = 'black'

        // Disable translate button to prevent multiple clicks
        translateButton.setAttribute("disabled","disabled")

        // Sending response and wait for translated text
        const resbody = await fetch(url, {
            method: "POST",
            headers: {
                "X-CSRFToken": token,
                "Content-Type": "application/json"
            },
            body: JSON.stringify(inputFormResponse)
        });
        
        const translatedCode = await resbody.json()
        // const translatedCode = resbody.json()
        console.log(translatedCode)

        document.getElementById("TranslatedCode").value = translatedCode["Response"]
        // Display translated text

        // Remove spinner
        spinner.style.color = 'white'

        // Enable translate button again
        translateButton.removeAttribute("disabled")
    });
</script>
<!-- </script> -->
{% endblock javascript %}
