{% extends 'base.html' %}

{% load widget_tweaks %}

{% block content %}

{% load static %}

    <header>
        <link rel="stylesheet"  href="{%  static  'css/style.css'  %}">
        <h1 class="text-center"><a href="/">Code2Code Translator</a></h1>
    </header>

    <form action="" method="post">

        {% csrf_token %}
       <div class="container main-box d-flex justify-content-center align-items-center">
           
           <div class="form-row">
               <div class="form-group col-md-5">
                   <label for="SourceLanguageSelection">Source Language</label>
                   {% render_field form.source_language id="SourceLanguageSelection" class="form-control" %}
               </div>
   
               <div class="form-group col-md-5">
                   <label for="TargetLanguageSelection">Target Language</label>
                   {% render_field form.target_language id="TargetLanguageSelection" class="form-control" %}
               </div>
           </div>
           
   
           <div class="form-row ">
               <div class="form-group col-md-5">
                   <label for="SourceCodeInput">Source Code</label>
                   {% render_field form.source_code type="text" class="form-control" id="SourceCodeInput" placeholder="Source Code" %}
               </div>
               <div class="form-group col-md-5">
                   <label for="TargetCode">Target Code</label>
                   {% render_field form.target_code type="text" class="form-control" id="TargetCode" placeholder="Target Code" %}
               </div>
           </div>
   
           <div class="container">
               <div class="col-md-10 text-center">
                   <input type="submit" class="btn btn-primary" value="Translate">
                   <button type="button" class="btn btn-warning" onclick="this.form.reset();">Clear</button>
               </div>
           </div>

        </div> 
        
        <!-- <input class="btn btn-primary" type="submit" value="Submit"> -->


    </form>
{% endblock %}