.main-box {
    max-width: 1500;
    min-height: 600;
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.box1 {
    max-width: fit-content;
    max-height: fit-content;
    position: absolute;
    /* border: 2px solid green; */
    margin-bottom: 150px;
}

.box2 {
    margin-bottom: 100px;
    margin-top: 400px;
    justify-content: center;
    display: flex;
    align-items: center;
    /* border: 2px solid green; */
}

.title {
    margin-top: 60px;
}