.main-box {
    max-width: 70%;
    min-height: 400px;
    justify-content: center;
    align-items: center;
    margin-top: 50;
    /* border: 3px solid black; */
}

.box1 {
    max-width: 100%;
    min-height: 600;
    position: relative;
    /* border: 3px solid red; */

}

.box2 {
    margin-top: 30;
    margin-bottom: 30;
    /* border: 3px solid blue; */

}

.title {
    margin-top: 50px;
    font-size: 30px;
}

.font{
    font-size: medium;
}

.spinner {
    /* border: 3px solid black; */
    color: white;
}
