.title {
    height: 180;
    font-family: 'Akshar', sans-serif;
    font-size: 70;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black
    /* border: 3px solid red; */
}

.main-box {
    max-width: 100%;
    min-height: 300;
    /* border: 3px solid cyan; */
}

.box1 {
    max-width: 70%;
    min-height: 300;
    margin-top: 35;
    position: relative;
    /* border: 3px solid red; */
}

.box2 {
    margin-top: 20;
    margin-bottom: 20;
    /* border: 3px solid blue; */
}

.spinner {
    color: black;
    visibility: hidden;
    /* border: 3px solid white; */
}

.body {
    background-color: whitesmoke;
}

.two-font {
    font-size: 70;
    font-family: 'Indie Flower', cursive;
    /* font-family: 'Fjalla One', sans-serif; */
    /* font-family: 'Space Mono', monospace; */
    /* font-weight: 200;  */
}

.label-font{
    font-size: 18;
    font-family: 'Akshar', sans-serif;
    color: black;
}

.drop-font{
    font-size: 16;
    font-family: 'Akshar', sans-serif;
    font-weight: 500;
    color: black;
}

.clear-font{
    font-size: 18;
    font-family: 'Akshar', sans-serif;
    color: white;
}

.submit-font{
    font-size: 18;
    font-family: 'Akshar', sans-serif;
    color: white;
}

.placeholder-font{
    font-size: 18;
    font-family: 'Akshar', sans-serif;
    font-weight: 400;
}

.button {
    margin: 5;
}


/* blue : rgb(0, 0, 228)
Yellow: rgb(253, 156, 0) */